/*///////////// C A R R E  Q U I  T O U R N E /////////////*/

#carre{
    padding:50px;
    background-color: #fff;
    animation-name: rotationCarre;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes rotationCarre{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(180deg);
    }
}

/*///////////// B A L L E  Q U I  R E B O N D I T /////////////*/

#balle{ 
    padding:10px;
    border-radius: 50%;
    background-color: #fff;
    animation-name: rebond;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
  
    
   
 
}

@keyframes rebond{
    0%{top:-100px;transition-timing-function: ease-out;}
    20%{top:100px;transition-timing-function: ease-in;}
    40%{top:0px;transition-timing-function: ease-out;}
    60%{top:100px;transition-timing-function: ease-in;}
    80%{top:50px;transition-timing-function: ease-out;}
    100%{top:100px;transition-timing-function: ease-in;}
}

/*///////////// L O A D E R /////////////*/

#loader div{
    padding:30px;
    border-radius: 50%;
    background-color: #fff;
}




#queue div{
    padding:5px;
    background-color: #fff;
    border:1px solid black;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside{
   
   
}
aside:hover{
    height:200px;
}