*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
aside{
    background-color: rgb(153, 35, 35);
    width:80px;
}
main{
    background-color: rgb(78, 184, 52);
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height:100vh
}
section{
    background-color: rgb(153, 149, 149);
    border: 1px solid black;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section p{
    position:absolute;
    /* top:50px; */
}