*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items:center;
    background: rgb(0, 0, 0);
    height: 100vh;
    
}
aside{
    width:80px;
}

main{
    max-width:1280px;
    min-width: 1020px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;    
}
section{
    background-color: rgb(114, 107, 107);
    width: 323px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

h2{
    position: absolute;
    align-self: flex-start;
    margin-top: -15px;
    color: blanchedalmond;
    
}

#anim3d{
    
    height: 400px;
   
    position: relative;
    top:100px;
}


#menu{
    position: absolute;
    top:0px;
    left:0px;
    color: red;
    
}